<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Cari</title>
				<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<script src="/js/jquery.min.js"></script>
		<script src="/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/jquery.dataTables.min.css"></link>
		<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
		<script src="/js/datatable.js"></script>
		<script src="/js/jquery-1.12.4.js"></script>
		<link rel="stylesheet" href="/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/css/main.css"/>
		<script src="/js/jquery.js"></script>
		<link rel="stylesheet" href="/css/jquery-ui.css"/>
		<script src="/js/jquery-1.10.2.js"></script>
		<script src="/js/jquery-ui.js"></script>
		<script type="text/javascript" src="/js/jquery.dataTables.min.js"></script>
		<link rel="stylesheet" href="/css/main.css"/>
		
		
	</head>
<body>
	<div th:replace="fragments/fragment :: header"></div>
	
	
	<div class= "container">	
		<div class="row main">
			<div class="main-login main-center">
				<form action="/penduduk/cari" method="get">
					<div>
						<div class="cols-sm-8">
								<div class="input-group">
									 <select class="selectpicker" name="kt">						 							    				    
									    <option th:each="kota,iterationStatus: ${lkota}" th:value="${kota.id}" th:text="${kota.nama_kota}"></option>						    						 
									 </select>
								</div>
							</div>
					</div>
					<div>
						<button type="submit" name="action" value="save">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="fragments/fragment :: footer"></div>
</body>

</html>

